.DS_Store
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.coverage
htmlcov/
.venv/
.hydra/
data/*
!data/steering_vectors/
data/steering_vectors/*
!data/steering_vectors/ag_news/
data/steering_vectors/ag_news/*
!data/steering_vectors/ag_news/gpt2_layer_5/
!data/steering_vectors/ag_news/gpt2_layer_5/**
runs/
wandb/
